<<<<<<< HEAD
/* Class for making image stacking work */
.imageStack {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    position: relative;
}

/* Classes for background images */
.backgroundPic {
    text-align: center;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

.vignette {
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

.backgroundNoteRemoved {
    width: 100vw;
    height: 100vh;
    opacity: 0%;
=======
/* Class for background images */
html {
    max-height: 982px;
   
}

.body-structure{

    max-width: 1920px;
}
.backgroundPic {
    text-align: center;

    max-width: 100%;
}

body {
    max-height: 100%;
    max-width: 100%;
}

.backgroundNoteRemoved {
    text-align: center;
    margin-top: -2000px;
    opacity: 100%;
>>>>>>> 5140300ee2cd38e6c837db18d27bb82bda2af0b2
    /* Prevent this overlay from interfering with clickable items. */
    pointer-events: none;
}

.bottomOfTheStack { /* Used on all default background images */
    grid-column: 1;
    grid-row: 1;
    z-index: 0;
}

.altBackground {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
}

/* Classes for all the divs containing navigation blocks */
.navBlockLayer1 {
    width: 100vw;
    height: 100vh;
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
    pointer-events: none;
}

.navBlockLayer2 {
    width: 100vw;
    height: 100vh;
    grid-column: 1;
    grid-row: 1;
    z-index: 3;
    pointer-events: none;
}

/* A class for all the divs containing signs or notes */
.notesAndSignsLayer {
    width: 100vw;
    height: 100vh;
    grid-column: 1;
    grid-row: 1;
    pointer-events: none;
    z-index: 4;
}

/* Classes for NPCs & dialogue */
.npcLayer {
    width: 100vw;
    height: 100vh;
    grid-column: 1;
    grid-row: 1;
    pointer-events: none;
    z-index: 6;
}

.dialogueLayer {
    width: 100vw;
    height: 100vh;
    grid-column: 1;
    grid-row: 1;
    pointer-events: none;
    z-index: 7;
}

.dialogueBox {
    width: 41.5vw;
    height: 40vh;
    grid-column: 11;
    grid-row: 7.5;
    margin-top: 37.5vh;
    margin-left: 50vw;
    opacity: 100%;
    /* Inside the dialogue layer, this box should be at the back. */
    z-index: 0;
    pointer-events: none;
}

.arrowLayer {
    width: 100vw;
    height: 100vh;
    grid-column: 1;
    grid-row: 1;
    pointer-events: none;
    z-index: 8;
}

/* Classes for the UI components */
.uiBarLayer {
    width: 100vw;
    height: 100vh;
    grid-column: 1;
    grid-row: 1;
    pointer-events: none;
}

.uiBar {
    width: 100vw;
    height: 20vh;
    grid-column: 1;
    grid-row: 17;
    margin-top: 80vh;
}

.uiBarIconsLayer {
    width: 100vw;
    height: 100vh;
    grid-column: 1;
    grid-row: 1;
    pointer-events: none;
}

.inventoryKey1 {
    width: 10vw;
    height: 12.5vh;
    grid-column: 6;
    grid-row: 17.5;
    margin-top: 82vh;
    margin-left: 25vw;
    opacity: 0%;

}

.inventoryKey2 {
    width: 6.3vw;
    height: 15vh;
    grid-column: 9;
    grid-row: 17.5;
    margin-top: 82vh;
    margin-left: 5vw;
    opacity: 0%;
}

.saveIcon {
    width: 7.5vw;
    height: 15vh;
    grid-column: 16;
    grid-row: 16.5;
    margin-top: 82vh;
    margin-left: 30vw;
    pointer-events: auto;
}

.exitIcon {
    width: 7.5vw;
    height: 12.5vh;
    grid-column: 17.5;
    grid-row: 18;
    margin-top: 82vh;
    margin-left: 5vw;
    pointer-events: auto;
}

/* Stacking for the opening screen and load / new game screen */
#topOfTheIndexStack {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
}

#topOfTheButtonScreenStack {
    grid-column: 1;
    grid-row: 1;
    z-index: 4;
    pointer-events: none;
}

/* Classes and ID's for buttons */

.buttonsOverlay {
    width: 100vw;
    height: 100vh;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
}

.menuButtons {
    width: 20vw;
    height: 10vh;
    margin-left: 40vw;
}

#loadButton {
    grid-column: 9;
    grid-row: 8;
    z-index: 2;
    margin-top: 35vh;
}

#newGameButton {
    grid-column: 9;
    grid-row: 11;
    z-index: 3;
    margin-top: 5vh;
}

/* CSS for the navigation blocks --- invisible shapes overlaying doors, hallway entrances etc
   as well as for vignettes, signs and notes, organized by room. */

/* HALLWAY 1 */

#hallway1NavBlock {
<<<<<<< HEAD
    width: 5vw;
    height: 57.5vh;
    grid-column: 14;
    grid-row: 1;
    margin-top: 0vh;
    margin-left: 65vw;
    opacity: 0%;
    pointer-events: auto;
}

#hallway1NoteBlock {
    width: 5vw;
    height: 15vh;
    grid-column: 6;
    grid-row: 13;
    margin-top: 60vh;
    margin-left: 25.5vw;
    opacity: 0%;
    pointer-events: auto;
=======
    margin-top: -1005px;
    margin-left: 1202px;
    margin-bottom: 500px;
    opacity: 100%;
}

#hallway1NoteBlock {
    margin-top: -800px;
    margin-left: 485px;
    margin-bottom: 388px;
    opacity: 100%;
>>>>>>> 5140300ee2cd38e6c837db18d27bb82bda2af0b2
}

#hallway1Note {
    width: 30vw;
    height: 75vh;
    grid-column: 8;
    grid-row: 2;
    margin-top: 5vh;
    margin-left: 35vw;
    opacity: 0%;
    z-index: 4;
    /* Prevent this overlay from interfering with clickable items. */
    pointer-events: none;
}

#hall1UIBarLayer {
    z-index: 5;
}

#hall1UIBar {
    z-index: 6;
}

#hall1IconsLayer {
    z-index: 7;
    pointer-events: none;
}

#hall1Inv1, #hallway1Inv2 {
    z-index: 8;
    pointer-events: none;
}

#hall1SaveIcon, #hall1ExitIcon {
    z-index: 8;
    pointer-events: auto;
}

#topOfTheHall1Stack {
    grid-column: 1;
    grid-row: 1;
    z-index: 9;
    pointer-events: none;
}

/* BEAR ROOM */

#bearRoomNavBlock1 {
<<<<<<< HEAD
    width: 25vw;
    height: 50vh;
    grid-column: 3.6;
    grid-row: 2.9;
    margin-top: 9.5vh;
    margin-left: 18vw;
=======
    margin-top: -900px;
    margin-left: 348px;
    margin-bottom: 970px;
    opacity: 100%;
>>>>>>> 5140300ee2cd38e6c837db18d27bb82bda2af0b2
    pointer-events: none;
    opacity: 0%;
}

#bearRoomNavBlock2 {
<<<<<<< HEAD
    width: 25vw;
    height: 50vh;
    grid-column: 11.5;
    grid-row: 2.9;
    margin-top: 9.5vh;
    margin-left: 57.5vw;
    opacity: 0%;
    pointer-events:auto;
}

#wendyImage {
    width: 15vw;
    height: 77.5vh;
    grid-column: 6.5;
    grid-row: 3.5;
    margin-top: 17.5vh;
    margin-left: 32.5vw;
    opacity: 100%;
=======
    margin-top: -1440px;
    margin-left: 1105px;
    margin-bottom: 1270px;
    opacity: 100%;
    z-index: 2;
>>>>>>> 5140300ee2cd38e6c837db18d27bb82bda2af0b2
}

#bearRoomArrow {
    width: 6vw;
    height: 7vw;
    grid-column: 1.5;
    grid-row: 14;
    margin-top: 65vh;
    margin-left: 2.5vw;
    pointer-events: auto;
}

#bearRoomUIBarLayer {
    z-index: 9;
    pointer-events: none;
}

#bearRoomUIBar {
    z-index: 10;
    pointer-events: none;
}

#bearRoomIconsLayer {
    z-index: 11;
    pointer-events: none;
}

#bearInv1, #bearInv2 {
    z-index: 12;
    pointer-events: none;
}

#bearRoomSaveIcon, #bearRoomExitIcon {
    z-index: 12;
    pointer-events: auto;
}

#topOfTheBearRoomStack {
    grid-column: 1;
    grid-row: 1;
    z-index: 13;
    pointer-events: none;
}

/* BEACH ROOM */

#beachSign {
    margin-top: -1000px;
    margin-left: 378px;
    margin-bottom: 1250px;
    /* Make this sign invisible to start with. The user has to click on the small image on the wall
       to make this sign come up as a zoomed-in image. */
    opacity: 0%;
    /* This piece of code allows users to click on items that lie within the area taken up by the sign. */
    pointer-events: none;
}

#beachNavBlock1 {
    margin-top: -985px;
    margin-left: -1485px;
    margin-bottom: 1038px;
    opacity: 100%;
}

#beachNavBlock2 {
    margin-top: -1495px;
    margin-left: -1200px;
    margin-bottom: 1465px;
    opacity: 100%;
    pointer-events: none;
}

#beachSignNavBlock {
    
    margin-top: -1837px;
    margin-left: 986px;
    margin-bottom: 1957px;
    opacity: 100%;
}

#chestNavBlock {

    margin-top: -2045px;
    margin-left: 645px;
    margin-bottom: 2100px;
    opacity: 100%;
    pointer-events: allows;
    z-index: 1;
}

#beachRoomBigKey {
    margin-top: -2400px;
    margin-left: 663px;
    margin-bottom: 1900px;
    z-index: 6;
    opacity: 100%;
    pointer-events: none;
}

/* HALLWAY WITH KEY */

#keyHallSign {
    margin-top: -900px;
    margin-left: 378px;
    margin-bottom: 1250px;
    /* Make this sign invisible to start with. The user has to click on the small image on the wall
       to make this sign come up as a zoomed-in image. */
    opacity: 0%;
    /* This piece of code allows users to click on items that lie within the area taken up by the sign. */
    pointer-events: none;
    z-index: 3;
    position: relative;
}

#keyHallNavBlock {
    margin-top: -1973px;
    margin-left: 609px;
    margin-bottom: 1817px;
    opacity: 0%;
}

#keyHallwaySignNavBlock {
    margin-top: -2170px;
    margin-left: 1279px;
    margin-bottom: 2000px;
    opacity: 0%;
}

#keyHallSmallKey {
    width: 94px;
    height: 61px;
    margin-top: -2000px;
    margin-left: 1100px;
    margin-bottom: 1800px;
    z-index: 1;
    opacity: 100%;
}

#keyHallBigKey {
    margin-top: -2400px;
    margin-left: 663px;
    margin-bottom: 1900px;
    z-index: 4;
    opacity: 0%;
}

#keyHallArrow {
    margin-top: -1800px;
    margin-left: 810px;
    margin-bottom: 2000px;
}

/* MIRROR ROOM */

#mirrorRoomNavBlock {
    width: 27vw;
    height: 35.5vh;
    grid-column: 14;
    grid-row: 1;
    margin-top: 44vh;
    margin-left: 35vw;
    opacity: 50%;
    pointer-events: auto;
}

#mirrorRoomNoteBlock {
    width: 10vw;
    height: 23vh;
    grid-column: 6;
    grid-row: 13;
    margin-top: 65vh;
    margin-left: 8vw;
    opacity: 50%;
    pointer-events: auto;
}

#mirrorRoomNote {
    width: 30vw;
    height: 75vh;
    grid-column: 8;
    grid-row: 2;
    margin-top: 5vh;
    margin-left: 35vw;
    opacity: 0%;
    z-index: 4;
    /* Prevent this overlay from interfering with clickable items. */
    pointer-events: none;
}

#mirrorRoomArrow {
    width: 6vw;
    height: 7vw;
    grid-column: 1.5;
    grid-row: 14;
    margin-top: 65vh;
    margin-left: 2.5vw;
    pointer-events: auto;
}

#mirrorRoomUIBarLayer {
    z-index: 5;
}

#mirrorRoomUIBar {
    z-index: 6;
}

#mirrorRoomIconsLayer {
    z-index: 7;
    pointer-events: none;
}

#mirrorRoomInv1, #mirrorRoomInv2 {
    z-index: 8;
    pointer-events: none;
}

#mirrorRoomSaveIcon, #mirrorRoomExitIcon {
    z-index: 8;
    pointer-events: auto;
}

#topOfTheMirrorRoomStack {
    grid-column: 1;
    grid-row: 1;
    z-index: 9;
    pointer-events: none;
}
/* PHANTASM ROOM */

#phantasmRoomNavBlock {
    width: 25vw;
    height: 80vh;
    grid-column: 3.6;
    grid-row: 2.9;
    margin-top: 0vh;
    margin-left: 37vw;
    pointer-events: auto;
    opacity: 0%;
    
}

#phantasmRoomUIBarLayer{
    z-index: 5;
}

#phantasmRoomIconsLayer{
    z-index: 7;
    pointer-events: none;
}

#phantasmRoomInv1, #phantasmRoomInv2 {
    z-index: 8;
    pointer-events: none;
}

#topOfThePhantasmRoomStack{
    grid-column: 1;
    grid-row: 1;
    z-index: 9;
    pointer-events: none;
}