/* Class for making image stacking work */
.imageStack {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    position: relative;
}

/* Classes for background images */
.backgroundPic {
    text-align: center;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

.vignette {
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

.backgroundNoteRemoved {
    width: 100vw;
    height: 100vh;
    opacity: 0%;
    /* Prevent this overlay from interfering with clickable items. */
    pointer-events: none;
}

.bottomOfTheStack { /* Used on all default background images */
    grid-column: 1;
    grid-row: 1;
    z-index: 0;
}

.altBackground {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
}

/* Classes for all the divs containing navigation blocks */
.navBlockLayer1 {
    width: 100vw;
    height: 100vh;
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
    pointer-events: none;
}

.navBlockLayer2 {
    width: 100vw;
    height: 100vh;
    grid-column: 1;
    grid-row: 1;
    z-index: 3;
    pointer-events: none;
}

/* A class for all the divs containing signs or notes */
.notesAndSignsLayer {
    width: 100vw;
    height: 100vh;
    grid-column: 1;
    grid-row: 1;
    pointer-events: none;
    z-index: 4;
}

/* Stacking for the opening screen and load / new game screen */
#topOfTheIndexStack {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
}

#topOfTheButtonScreenStack {
    grid-column: 1;
    grid-row: 1;
    z-index: 4;
    pointer-events: none;
}

/* Classes and ID's for buttons */

.buttonsOverlay {
    width: 100vw;
    height: 100vh;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
}

.menuButtons {
    width: 20vw;
    height: 10vh;
    padding-left: 40vw;
}

#loadButton {
    grid-column: 9;
    grid-row: 8;
    z-index: 2;
    padding-top: 35vh;
}

#newGameButton {
    grid-column: 9;
    grid-row: 11;
    z-index: 3;
    padding-top: 5vh;
}

/* CSS for the navigation blocks --- invisible shapes overlaying doors, hallway entrances etc
   as well as for vignettes, signs and notes, organized by room. */

/* HALLWAY 1 */

#hallway1NavBlock {
    width: 5vw;
    height: 57.5vh;
    grid-column: 14;
    grid-row: 1;
    padding-top: 0vh;
    padding-left: 65vw;
    opacity: 100%;
    pointer-events: auto;
}

#hallway1NoteBlock {
    width: 5vw;
    height: 15vh;
    grid-column: 6;
    grid-row: 13;
    padding-top: 60vh;
    padding-left: 25.5vw;
    opacity: 100%;
    pointer-events: auto;
}

#hallway1Note {
    width: 30vw;
    height: 75vh;
    grid-column: 8;
    grid-row: 2;
    padding-top: 5vh;
    padding-left: 35vw;
    opacity: 0%;
    z-index: 4;
    /* Prevent this overlay from interfering with clickable items. */
    pointer-events: none;
}

#topOfTheHall1Stack {
    grid-column: 1;
    grid-row: 1;
    z-index: 5;
    pointer-events: none;
}

/* BEAR ROOM */

#bearRoomNavBlock1 {
    margin-top: -900px;
    margin-left: 348px;
    margin-bottom: 970px;
    opacity: 0%;
    pointer-events: none;
    z-index: 1;
}

#bearRoomNavBlock2 {
    margin-top: -1440px;
    margin-left: 1105px;
    margin-bottom: 1270px;
    opacity: 0%;
    z-index: 2;
}

#bearRoomArrow {
    margin-top: -1100px;
    margin-left: 890px;
    margin-bottom: 2000px;
    opacity: 100%;
    z-index: 3;
}

/* BEACH ROOM */

#beachSign {
    margin-top: -1000px;
    margin-left: 378px;
    margin-bottom: 1250px;
    /* Make this sign invisible to start with. The user has to click on the small image on the wall
       to make this sign come up as a zoomed-in image. */
    opacity: 0%;
    /* This piece of code allows users to click on items that lie within the area taken up by the sign. */
    pointer-events: none;
}

#beachNavBlock1 {
    margin-top: -985px;
    margin-left: -1485px;
    margin-bottom: 1038px;
    opacity: 0%;
}

#beachNavBlock2 {
    margin-top: -1495px;
    margin-left: -1200px;
    margin-bottom: 1465px;
    opacity: 0%;
    pointer-events: none;
}

#beachSignNavBlock {
    margin-top: -1837px;
    margin-left: 986px;
    margin-bottom: 1957px;
    opacity: 0%;
}

#chestNavBlock {
    margin-top: -2045px;
    margin-left: 645px;
    margin-bottom: 2100px;
    opacity: 0%;
    pointer-events: allows;
}

#beachRoomBigKey {
    margin-top: -2400px;
    margin-left: 663px;
    margin-bottom: 1900px;
    z-index: 6;
    opacity: 0%;
    pointer-events: none;
}

/* HALLWAY WITH KEY */

#keyHallSign {
    margin-top: -900px;
    margin-left: 378px;
    margin-bottom: 1250px;
    /* Make this sign invisible to start with. The user has to click on the small image on the wall
       to make this sign come up as a zoomed-in image. */
    opacity: 0%;
    /* This piece of code allows users to click on items that lie within the area taken up by the sign. */
    pointer-events: none;
    z-index: 3;
    position: relative;
}

#keyHallNavBlock {
    margin-top: -1973px;
    margin-left: 609px;
    margin-bottom: 1817px;
    opacity: 0%;
}

#keyHallwaySignNavBlock {
    margin-top: -2170px;
    margin-left: 1279px;
    margin-bottom: 2000px;
    opacity: 0%;
}

#keyHallSmallKey {
    width: 94px;
    height: 61px;
    margin-top: -2000px;
    margin-left: 1100px;
    margin-bottom: 1800px;
    z-index: 1;
    opacity: 100%;
}

#keyHallBigKey {
    margin-top: -2400px;
    margin-left: 663px;
    margin-bottom: 1900px;
    z-index: 4;
    opacity: 0%;
}

#keyHallArrow {
    margin-top: -1800px;
    margin-left: 810px;
    margin-bottom: 2000px;
}

/* MIRROR ROOM */

#mirrorRoomNavBlock {
    margin-top: -1000px;
    margin-left: 680px;
    margin-bottom: 900px;
    opacity: 100%;
    z-index: 2;
    display: block;
    opacity: 0%;
}

#mirrorRoomNoteBlock {
    margin-top: -360px;
    margin-left: 143px;
    margin-bottom: 595px;
    z-index: 3;
    display: block;
    opacity: 0%;
}

#mirrorRoomNote {
    margin-top: -1600px;
    margin-left: 630px;
    margin-bottom: 988px;
    opacity: 0%;
    z-index: 5;
    /* Prevent this overlay from interfering with clickable items. */
    pointer-events: none;
}

#mirrorRoomArrow {
    margin-top: -1050px;
    margin-left: 850px;
    margin-bottom: 1400px;
    z-index: 4;
}

/* PHANTASM ROOM */

#phantasmRoomNavBlock {
    margin-top: -990px;
    margin-left: 660px;
    margin-bottom: 1017px;
    opacity: 0%;
}