<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>I Made You A Happy World</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='myStyle.css')}}">

    <script src="{{ url_for('static', filename='functions.js')}}"></script>

</head>

<body>

<div class="imageStack">
    <div class="imageStack">

        <div class="bottomOfTheStack">
            <img class="backgroundPic" src="{{url_for('static', filename='beach-room.jpg')}}" onload="rememberRoom(2)">
        </div>

        <div class="navBlockLayer1">
            <a href="/bear-room"><img id="beachNavBlock1"
                src="{{url_for('static', filename='beach-room-ladder-navigation-block.png')}}"></a>
            <a href="/key-hall"><img id="beachNavBlock2"
                src="{{url_for('static', filename='beach-room-gate-navigation-block.png')}}" ></a>
        </div>

        <div class="navBlockLayer2">
            <!-- Add an invisible image overlaying the sign on the wall, so that when the user presses and holds on the
            sign, a pop-up showing the sign zoomed-in appears. -->
            <img id="beachSignNavBlock" src="{{url_for('static', filename='beach-sign-navigation-block.png')}}"
                onmousedown="showSign('beachRoom')" onmouseup="removeSign('beachRoom')">
        </div>

        <div class="navBlockLayer3">
            <!-- Add a clickable overlay to the chest so that the user can click on it. -->

            <img id="chestNavBlock" src="{{url_for('static', filename='chest-navigation-block.png')}}" onload="gateIsUnlocked('hallRoomKey')"
            onclick="keyTaken('beachRoom')">
        </div>

        <div class="notesAndSignsLayer">
            <!-- Add the pop-up zoomed in image of the sign that the user can read. -->
            <img id="beachSign" src="{{url_for('static', filename='beach-room-sign.png')}}">
        </div>

        <div class="keyPopUpLayer" id="beachKeyPopUpLayer">
            <!-- Add the key pop-up for when the user clicks on the chest. -->
            <img id="beachRoomBigKey" src="{{url_for('static', filename='key-found2.png')}}">
        </div>

        <!-- Add Sharkie the NPC! -->
        <div class="npcLayer">
            
            <img id="sharkieImage" src="{{url_for('static', filename='sharkie.png')}}" onload="checkNPCStatus('Sharkie')"
                 onclick="bringUpDialogueBox('Sharkie')">
        </div>

        <!-- Add Sharkie's dialogue box. -->
        <div class="dialogueLayer">
            <img class="dialogueBox" id="sharkieDialogueBox" src="{{url_for('static', filename='dialogue-box.png')}}"
                onclick="removeDialogue('Sharkie')">
        </div>

        <div class="dialogueTextLayer1">
            <p id="sharkieQuestion">Oh, hi there! Have you seen<br>my dad? He's a pirate.<br>Captain Lavenderbeard,
                    you've<br>definitely heard of him!</p>
            <p id="answerSharkie1" onmouseover="hoverText('Sharkie', '1')" onmouseout="noHover('Sharkie', '1')"
               onclick="chooseAnswer('Sharkie', '1')">No, sorry.<br>How do I get<br>out of here?</p>
            <p id="answerSharkie2" onmouseover="hoverText('Sharkie', '2')" onmouseout="noHover('Sharkie', '2')"
               onclick="chooseAnswer('Sharkie', '2')">How long have<br>you been waiting<br>for him?</p>
        </div>

        <div class="dialogueTextLayer2">
            <p id="sharkieResponse1">Well, you'll need a key for the<br>gate. There's one in my treasure<br>
                chest! The treasure's mine,<br>but I guess I could spare<br>one thing.</p>
        </div>

        <div class="dialogueTextLayer3">
            <p id="sharkieResponse2">...four years, give or take.<br>But I know he'll come back!<br>
                And when he does, we'll leave<br>together on his colossal ship<br>to fight sea monsters!</p>
        </div>

        <div class="uiBarLayer" id="beachUIBarLayer">
            <!-- Add the blue background for the UI buttons. -->
            <img class="uiBar" id="beachUIBar" src="{{url_for('static', filename='ui-bar.png')}}">
        </div>

        <div class="uiBarIconsLayer" id="beachIconsLayer">
            <!-- Add the icons to the UI bar. -->
            <img class="inventoryKey1" id="Inv1"  src="{{url_for('static', filename='inventory-key-1.png')}} " onload="keyInInventory('hallRoomKey')">
            <img class="inventoryKey2" id="Inv2" src="{{url_for('static', filename='inventory-key-2.png')}}" onload="keyInInventory('escapeRoom')">
            <img class="saveIcon" id="beachSaveIcon" src="{{url_for('static', filename='save-icon.png')}}">
            <!-- Clicking on the exit icon should take the user to the website's home page. -->
            <a href="/"><img class="exitIcon" id="beachExitIcon" src="{{url_for('static', filename='exit-icon.png')}}">
                </a>
        </div>

        <div id="topOfTheBeachStack">
            <!-- Vignette. -->
            <img class="backgroundPic" class="vignette" src="{{url_for('static', filename='vignette.png')}}">
        </div>

        <!-- Add the hour glass stages for the timer. -->
        <div class="hourGlassLayer1">
            <img class="timer hourGlass1" src="{{url_for('static', filename='hour-glass1.png')}}">
        </div>

        <div class="hourGlassLayer2">
            <img class="timer hourGlass2" src="{{url_for('static', filename='hour-glass2.png')}}">
        </div>

        <div class="hourGlassLayer3">
            <img class="timer hourGlass3" src="{{url_for('static', filename='hour-glass3.png')}}">
        </div>

        <div class="hourGlassLayer4">
            <img class="timer hourGlass4" src="{{url_for('static', filename='hour-glass4.png')}}">
        </div>

        <div class="hourGlassLayer5">
            <img class="timer hourGlass5" src="{{url_for('static', filename='hour-glass5.png')}}">
        </div>

        <div class="hourGlassLayer6">
            <img class="timer hourGlass6" src="{{url_for('static', filename='hour-glass6.png')}}">
        </div>

        <div class="hourGlassLayer7">
            <img class="timer hourGlass7" src="{{url_for('static', filename='hour-glass7.png')}}">
        </div>

        <div class="hourGlassLayer8">
            <img class="timer hourGlass8" src="{{url_for('static', filename='hour-glass8.png')}}">
        </div>

        <div class="hourGlassLayer9">
            <img class="timer hourGlass9" src="{{url_for('static', filename='hour-glass9.png')}}">
        </div>

        <div class="hourGlassLayer10">
            <img class="timer hourGlass10" src="{{url_for('static', filename='hour-glass10.png')}}">
        </div>

    <div class="bottomOfTheStack">
        <img class="backgroundPic" src="{{url_for('static', filename='beach-room.jpg')}}" onload="rememberRoom(2)">
    </div>

    <div class="navBlockLayer1">
        <a href="/bear-room"><img id="beachNavBlock1"
                                  src="{{url_for('static', filename='beach-room-ladder-navigation-block.png')}}"></a>
        <a href="/key-hall"><img id="beachNavBlock2"
                                 src="{{url_for('static', filename='beach-room-gate-navigation-block.png')}}"></a>
    </div>

    <div class="navBlockLayer2">
        <!-- Add an invisible image overlaying the sign on the wall, so that when the user presses and holds on the
        sign, a pop-up showing the sign zoomed-in appears. -->
        <img id="beachSignNavBlock" src="{{url_for('static', filename='beach-sign-navigation-block.png')}}"
             onmousedown="showSign('beachRoom')" onmouseup="removeSign('beachRoom')">
    </div>

    <div class="navBlockLayer3">
        <!-- Add a clickable overlay to the chest so that the user can click on it. -->

        <img id="chestNavBlock" src="{{url_for('static', filename='chest-navigation-block.png')}}"
             onload="gateIsUnlocked('hallRoomKey')"
             onclick="keyTaken('beachRoom')">
        <!-- <form class="form-key" name = "key1pick" action = "/setcookie" method = "POST">
            <p><input type = 'text' name = 'key1'/></p>
            <p><input type = 'text' name = 'key2'/></p>
            <p><input type = 'submit' value = 'submit'/></p>
        </form> -->
    </div>

    <div class="notesAndSignsLayer">
        <!-- Add the pop-up zoomed in image of the sign that the user can read. -->
        <img id="beachSign" src="{{url_for('static', filename='beach-room-sign.png')}}">
    </div>

    <div class="keyPopUpLayer" id="beachKeyPopUpLayer">
        <!-- Add the key pop-up for when the user clicks on the chest. -->
        <img id="beachRoomBigKey" src="{{url_for('static', filename='key-found2.png')}}">
    </div>

    <!-- Add Sharkie the NPC! -->
    <div class="npcLayer">

        <img id="sharkieImage" src="{{url_for('static', filename='sharkie.png')}}" onload="checkNPCStatus('Sharkie')"
             onclick="bringUpDialogueBox('Sharkie')">
    </div>

    <!-- Add Sharkie's dialogue box. -->
    <div class="dialogueLayer">
        <img class="dialogueBox" id="sharkieDialogueBox" src="{{url_for('static', filename='dialogue-box.png')}}"
             onclick="removeDialogue('Sharkie')">
    </div>

    <div class="dialogueTextLayer1">
        <p id="sharkieQuestion">Oh, hi there! Have you seen<br>my dad? He's a pirate.<br>Captain Lavenderbeard,
            you've<br>definitely heard of him!</p>
        <p id="answerSharkie1" onmouseover="hoverText('Sharkie', '1')" onmouseout="noHover('Sharkie', '1')"
           onclick="chooseAnswer('Sharkie', '1')">No, sorry.<br>How do I get<br>out of here?</p>
        <p id="answerSharkie2" onmouseover="hoverText('Sharkie', '2')" onmouseout="noHover('Sharkie', '2')"
           onclick="chooseAnswer('Sharkie', '2')">How long have<br>you been waiting<br>for him?</p>
    </div>

    <div class="dialogueTextLayer2">
        <p id="sharkieResponse1">Well, you'll need a key for the<br>gate. There's one in my treasure<br>
            chest! The treasure's mine,<br>but I guess I could spare<br>one thing.</p>
    </div>

    <div class="dialogueTextLayer3">
        <p id="sharkieResponse2">...four years, give or take.<br>But I know he'll come back!<br>
            And when he does, we'll leave<br>together on his colossal ship<br>to fight sea monsters!</p>
    </div>

    <div class="uiBarLayer" id="beachUIBarLayer">
        <!-- Add the blue background for the UI buttons. -->
        <img class="uiBar" id="beachUIBar" src="{{url_for('static', filename='ui-bar.png')}}">
    </div>

    <div class="uiBarIconsLayer" id="beachIconsLayer">
        <!-- Add the icons to the UI bar. -->
        <img class="inventoryKey1" id="Inv1" src="{{url_for('static', filename='inventory-key-1.png')}} "
             onload="keyInInventory('hallRoomKey')">
        <img class="inventoryKey2" id="Inv2" src="{{url_for('static', filename='inventory-key-2.png')}}"
             onload="keyInInventory('escapeRoom')">
        <img class="saveIcon" id="beachSaveIcon" src="{{url_for('static', filename='save-icon.png')}}">
        <!-- Clicking on the exit icon should take the user to the website's home page. -->
        <a href="/"><img class="exitIcon" id="beachExitIcon" src="{{url_for('static', filename='exit-icon.png')}}">
        </a>
    </div>

    <div id="topOfTheBeachStack">
        <!-- Vignette. -->
        <img class="backgroundPic" class="vignette" src="{{url_for('static', filename='vignette.png')}}">
    </div>

    <!-- Add the hour glass stages for the timer. -->
    <div class="hourGlassLayer1">
        <img class="timer hourGlass1" src="{{url_for('static', filename='hour-glass1.png')}}">
    </div>

    <div class="hourGlassLayer2">
        <img class="timer hourGlass2" src="{{url_for('static', filename='hour-glass2.png')}}">
    </div>

    <div class="hourGlassLayer3">
        <img class="timer hourGlass3" src="{{url_for('static', filename='hour-glass3.png')}}">
    </div>

    <div class="hourGlassLayer4">
        <img class="timer hourGlass4" src="{{url_for('static', filename='hour-glass4.png')}}">
    </div>

    <div class="hourGlassLayer5">
        <img class="timer hourGlass5" src="{{url_for('static', filename='hour-glass5.png')}}">
    </div>

    <div class="hourGlassLayer6">
        <img class="timer hourGlass6" src="{{url_for('static', filename='hour-glass6.png')}}">
    </div>

    <div class="hourGlassLayer7">
        <img class="timer hourGlass7" src="{{url_for('static', filename='hour-glass7.png')}}">
    </div>

    <div class="hourGlassLayer8">
        <img class="timer hourGlass8" src="{{url_for('static', filename='hour-glass8.png')}}">
    </div>

    <div class="hourGlassLayer9">
        <img class="timer hourGlass9" src="{{url_for('static', filename='hour-glass9.png')}}">
    </div>

    <div class="hourGlassLayer10">
        <img class="timer hourGlass10" src="{{url_for('static', filename='hour-glass10.png')}}">
    </div>

</div>

<div>
    <audio autoplay id="music1">
    </audio>
</div>

</body>

</html>