<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>I Made You A Happy World</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='myStyle.css')}}">

    <script src="{{ url_for('static', filename='functions.js')}}"></script>

</head>

<body>

    <img class="backgroundPic" src="{{url_for('static', filename='beach-room.jpg')}}">

    <!-- Add the pop-up zoomed in image of the sign that the user can read. -->
    <img id="beachSign" src="{{url_for('static', filename='beach-room-sign.png')}}">

    <!-- Add two navigation blocks (a transparent image laid over the ladder and the gate). These can be
         clicked on and will take the user up the ladder or through the gate. -->
    <a href="/bear-room"><img id="beachNavBlock1"
                              src="{{url_for('static', filename='beach-room-ladder-navigation-block.png')}}"></a>
    <a href="/key-hall"><img id="beachNavBlock2"
                              src="{{url_for('static', filename='beach-room-gate-navigation-block.png')}}"></a>

    <!-- Add an invisible image overlaying the sign on the wall, so that when the user presses and holds on the sign,
         a pop-up showing the sign zoomed-in appears. -->
    <img id="beachSignNavBlock" src="{{url_for('static', filename='beach-sign-navigation-block.png')}}"
                                onmousedown="showSign('beachRoom')" onmouseup="removeSign('beachRoom')">

</body>

</html>