<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>I Made You A Happy World</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='myStyle.css')}}">

    <script src="{{ url_for('static', filename='functions.js')}}"></script>

</head>

<body>

    <div class="imageStack">

        <div class="bottomOfTheStack">
            <img class="backgroundPic" src="{{url_for('static', filename='bear-room.jpg')}}">
        </div>

        <!-- Add two navigation blocks / circles (a transparent image laid over the entrance to each tunnel).
             These can be clicked on and will take the user through the corresponding tunnel. -->
        <div class="navBlockLayer1">
            <a href="/escape"><img id="bearRoomNavBlock1"
                              src="{{url_for('static', filename='bear-room-tunnel-1-navigation-block.png')}}"></a>
        </div>

        <div class="navBlockLayer2">
            <a href="/beach"><img id="bearRoomNavBlock2"
                              src="{{url_for('static', filename='bear-room-tunnel-2-navigation-block.png')}}"></a>
        </div>

        <!-- Add NPC and dialogue elements. -->
        <div class="npcLayer">
            <img id="wendyImage" src="{{url_for('static', filename='wendy.png')}}" onload="checkNPCStatus('Wendy')"
                onclick="bringUpDialogueBox('Wendy')">
        </div>

        <div class="dialogueLayer">
            <img class="dialogueBox" id="bearDialogueBox" src="{{url_for('static', filename='dialogue-box.png')}}">
        </div>

        <div class="arrowLayer">
            <!-- Add an arrow so that the user can choose to go back to the previous room. -->
            <a href="/hallway1"><img id="bearRoomArrow"
                              src="{{url_for('static', filename='left-arrow.png')}}"></a>
        </div>

        <div class="uiBarLayer" id="bearRoomUIBarLayer">
            <!-- Add the blue background for the UI buttons. -->
            <img class="uiBar" id="bearRoomUIBar" src="{{url_for('static', filename='ui-bar.png')}}">
        </div>

        <div class="uiBarIconsLayer" id="bearRoomIconsLayer">
            <!-- Add the icons to the UI bar. -->
            <img class="inventoryKey1" id="bearInv1" src="{{url_for('static', filename='inventory-key-1.png')}}">
            <img class="inventoryKey2" id="bearInv2" src="{{url_for('static', filename='inventory-key-2.png')}}">
            <img class="saveIcon" id="bearSaveIcon" src="{{url_for('static', filename='save-icon.png')}}">
            <!-- Clicking on the exit icon should take the user to the website's home page. -->
            <a href="/"><img class="exitIcon" id="bearExitIcon" src="{{url_for('static', filename='exit-icon.png')}}">
                </a>
        </div>

        <div id="topOfTheBearRoomStack">
            <!-- Vignette. -->
            <img class="backgroundPic" class="vignette" src="{{url_for('static', filename='vignette.png')}}">
        </div>

    </div>

</body>

</html>