<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>I Made You A Happy World</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='myStyle.css')}}">

    <script src="{{ url_for('static', filename='functions.js')}}"></script>

</head>

<body>

<!-- This stack will allow us to have images that overlap. -->
<div class="imageStack" style="z-index: 100" onclick="pageRedirect('/load-or-new')">

    <div class="bottomOfTheStack">
        <!-- Making the background image a link to the save / load game page. -->
        <img class="backgroundPic" src="{{url_for('static', filename='start-screen.jpg')}}">
    </div>

    <div id="topOfTheIndexStack">
        <!-- Vignette. -->
        <img class="backgroundPic" class="vignette" src="{{url_for('static', filename='vignette.png')}}">
    </div>

</div>
<div class="creditTitle">
    <div class="author">
        <p>Project created by Ana Karpova,</p>
        <p>Johnathan Worrall</p>
        <p>& Tianze Xie</p>
    </div>
    <div class="source">
        <p>Royalty-Free Element Sources(Linked)</p>
        <p>
            <a href="https://www.freepik.com/free-icon/diskette_15638570.htm" target="_blank">Save Icon</a>,
            <a href="https://www.freepik.com/free-vector/design-complete-set-score-button-game-pop-up-icon-window-elements-creating-medieval-rpg-video-games_14246107.htm" target="_blank">Exit
                Icon</a>,
            <a href="https://www.freepik.com/free-vector/golden-keys-set_9464074.htm" target="_blank">Keys</a>,
            <a href="https://www.flaticon.com/free-icon/down-sketched-arrow_36912?term=sketch%20arrow&page=1&position=6&page=1&position=6&related_id=36912&origin=style" target="_blank">Arrows</a>,
            <a href="https://www.freepik.com/free-vector/set-game-ui-app-buttons-icons-boards-plaques_30538694.htm" target="_blank">Button</a>
        </p>
        <p>
            <a href="https://www.freepik.com/free-vector/set-game-ui-app-buttons-icons-boards-plaques_30538694.htm" target="_blank"> Dialogue </a>&
            <a href="https://www.freepik.com/free-vector/design-complete-set-score-button-game-pop-up-icon-window-elements-creating-medieval-rpg-video-games_14246107.htm" target="_blank"> UI Backing</a>
        </p>
    </div>
</div>
</body>

</html>