<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>I Made You A Happy World</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='myStyle.css')}}">

    <script src="{{ url_for('static', filename='functions.js')}}"></script>

</head>

<body>

    <div class="imageStack">

        <!-- Add the background image. -->
        <div class="bottomOfTheStack">
            <img class="backgroundPic" src="{{url_for('static', filename='hallway-with-key.jpg')}}" onload="rememberRoom(3)">
        </div>

        <!-- Add the overlay showing a zoomed-in depiction of the sign on the wall. -->
        <div class="notesAndSignsLayer">
            <img id="keyHallSign" src="{{url_for('static', filename='key-room-sign.png')}}">
        </div>

        <!-- Add a navigation block (an invisible shape that can be clicked on) over the entrance to the next hallway.
             If the user clicks on it, they will be taken to the next room. -->
        <div class="navBlockLayer1">
            <a href="/mirror-room"><img id="keyHallNavBlock"
                              src="{{url_for('static', filename='key-hallway-navigation-block.png')}}"></a>
        </div>

        <div class="navBlockLayer2">
            <!-- Add an invisible image overlaying the sign on the wall, so that when the user presses and holds on the sign,
            a pop-up showing the sign zoomed-in appears. -->
            <img id="keyHallwaySignNavBlock" src="{{url_for('static', filename='key-hallway-sign-navigation-block.png')}}"
                              onmousedown="showSign('keyRoom')" onmouseup="removeSign('keyRoom')">
        </div>

        <div class="backgroundKeyLayer">
            <!-- Add a small key to the background that the user can click on. -->
            <img id="keyHallSmallKey" src="{{url_for('static', filename='key1.png')}}" onload="gateIsUnlocked('escapeRoom')"
                 onclick="keyTaken('keyHall')">
        </div>

        <div class="keyPopUpLayer" id="keyHallKeyPopUpLayer">
            <!-- Add a large key as a zoomed-in pop-up when the user picks up the key. -->
            <img id="keyHallBigKey" src="{{url_for('static', filename='key-found1.png')}}">
        </div>

        <div class="arrowLayer">
            <!-- Add an arrow so that the user can choose to go back to the previous room. -->
            <a href="/beach"><img id="keyHallArrow"
                              src="{{url_for('static', filename='down-arrow.png')}}"></a>
        </div>

        <!-- Add the UI. -->
        <div class="uiBarLayer" id="keyHallUIBarLayer">
            <!-- Add the blue background for the UI buttons. -->
            <img class="uiBar" id="keyHallUIBar" src="{{url_for('static', filename='ui-bar.png')}}">
        </div>

        <div class="uiBarIconsLayer" id="keyHallIconsLayer">
            <!-- Add the icons to the UI bar. -->
            <img class="inventoryKey1" id="Inv1" src="{{url_for('static', filename='inventory-key-1.png')}}" onload="keyInInventory('hallRoomKey')">
            <img class="inventoryKey2" id="Inv2" src="{{url_for('static', filename='inventory-key-2.png')}}" onload="keyInInventory('escapeRoom')">
            <img class="saveIcon" id="keyHallSaveIcon" src="{{url_for('static', filename='save-icon.png')}}">
            <!-- Clicking on the exit icon should take the user to the website's home page. -->
            <a href="/"><img class="exitIcon" id="keyHallExitIcon" src="{{url_for('static', filename='exit-icon.png')}}">
                </a>
        </div>

        <div id="topOfTheKeyHallStack">
            <!-- Vignette. -->
            <img class="backgroundPic" class="vignette" src="{{url_for('static', filename='vignette.png')}}">
        </div>

        <!-- Add the hour glass stages for the timer. -->
        <div class="hourGlassLayer1">
            <img class="timer hourGlass1" src="{{url_for('static', filename='hour-glass1.png')}}">
        </div>

        <div class="hourGlassLayer2">
            <img class="timer hourGlass2" src="{{url_for('static', filename='hour-glass2.png')}}">
        </div>

        <div class="hourGlassLayer3">
            <img class="timer hourGlass3" src="{{url_for('static', filename='hour-glass3.png')}}">
        </div>

        <div class="hourGlassLayer4">
            <img class="timer hourGlass4" src="{{url_for('static', filename='hour-glass4.png')}}">
        </div>

        <div class="hourGlassLayer5">
            <img class="timer hourGlass5" src="{{url_for('static', filename='hour-glass5.png')}}">
        </div>

        <div class="hourGlassLayer6">
            <img class="timer hourGlass6" src="{{url_for('static', filename='hour-glass6.png')}}">
        </div>

        <div class="hourGlassLayer7">
            <img class="timer hourGlass7" src="{{url_for('static', filename='hour-glass7.png')}}">
        </div>

        <div class="hourGlassLayer8">
            <img class="timer hourGlass8" src="{{url_for('static', filename='hour-glass8.png')}}">
        </div>

        <div class="hourGlassLayer9">
            <img class="timer hourGlass9" src="{{url_for('static', filename='hour-glass9.png')}}">
        </div>

        <div class="hourGlassLayer10">
            <img class="timer hourGlass10" src="{{url_for('static', filename='hour-glass10.png')}}">
        </div>

    </div>

</body>

</html>