<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>I Made You A Happy World</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='myStyle.css')}}">

    <script src="{{ url_for('static', filename='functions.js')}}"></script>

</head>

<body>

    <div class="imageStack">

        <div class="bottomOfTheStack">
            <img class="backgroundPic" src="{{url_for('static', filename='start-screen.jpg')}}">
        </div>

        <!-- Create a div that is the same size as the background image to contain the buttons -->
        <div class="buttonsOverlay">
            <img class="menuButtons" id="loadButton" src="{{url_for('static', filename='load-game-button.png')}}">
            <a href="/hallway1"><img class="menuButtons" id="newGameButton" src="{{url_for('static', filename='new-game-button.png')}}"></a>
        </div>

        <div id="topOfTheButtonScreenStack">
             <!-- Vignette. -->
             <img class="backgroundPic" class="vignette" src="{{url_for('static', filename='vignette.png')}}">
        </div>

    </div>

</body>

</html>