<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="UTF-8">

        <title>I Made You A Happy World</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='myStyle.css')}}">

        <script src="{{ url_for('static', filename='functions.js')}}"></script>

    </head>

    <body>

        <div class="imageStack">

            <div class="bottomOfTheStack">
                <img class="backgroundPic" src="{{url_for('static', filename='phantasm-room.jpg')}}">
            </div>

            <div class="navBlockLayer1">
                <!-- Add a navigation block (an invisible shape that can be clicked on) over the spiral staircase.
                If the user clicks on it, they will be taken to the previous room. -->
                <a href="/mirror-room"><img id="phantasmRoomNavBlock"
                                      src="{{url_for('static', filename='phantasm-room-stairs-navigation-block.png')}}">
                                      </a>
            </div>

            <!-- Add NPC and dialogue elements. -->
            <div class="npcLayer">
                <img id="phantasmImage" src="{{url_for('static', filename='phantasm.png')}}"
                     onload="checkNPCStatus('Phantasm')" onclick="bringUpDialogueBox('Phantasm')">
            </div>

            <div class="dialogueLayer">
                <img class="dialogueBox" id="phantasmDialogueBox" src="{{url_for('static', filename='dialogue-box.png')}}">
            </div>

            <div class="uiBarLayer" id="phantasmRoomUIBarLayer">
                <!-- Add the blue background for the UI buttons. -->
                <img class="uiBar" id="phantasmRoomUIBar" src="{{url_for('static', filename='ui-bar.png')}}">
            </div>

            <div class="uiBarIconsLayer" id="phantasmRoomIconsLayer">
                <!-- Add the icons to the UI bar. -->
                <img class="inventoryKey1" id="Inv1" src="{{url_for('static', filename='inventory-key-1.png')}}" onload="keyInInventory('hallRoomKey')">
                <img class="inventoryKey2" id="Inv2" src="{{url_for('static', filename='inventory-key-2.png')}}" onload="keyInInventory('escapeRoom')">
                <img class="saveIcon" id="phantasmRoomSaveIcon" src="{{url_for('static', filename='save-icon.png')}}">
                <!-- Clicking on the exit icon should take the user to the website's home page. -->
                <a href="/"><img class="exitIcon" id="phantasmRoomExitIcon" src="{{url_for('static', filename='exit-icon.png')}}">
                </a>
            </div>

            <div id="topOfThePhantasmRoomStack">
                <!-- Vignette. -->
                <img class="backgroundPic" class="vignette" src="{{url_for('static', filename='vignette.png')}}">
            </div>

        </div>

    </body>

</html>